# Build artifacts
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependency directories
vendor/

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db
